#include "<DEVELOPER_DIR>/Makefiles/CoreOS/Xcode/BSD.xcconfig"

BUILD_XCSUPPORT_DIR = $(PROJECT_DIR)/xcsupport
BUILD_XCSCRIPTS_DIR = $(PROJECT_DIR)/xcscripts
BUILD_XCCONFIG_DIR = $(PROJECT_DIR)/xcconfig

CRASHREPORTER_LINKER_FLAGS[sdk=macosx*]= -lCrashReporterClient
CRASHREPORTER_LINKER_FLAGS[sdk=macosx10.6] = 
CRASHREPORTER_LINKER_FLAGS[sdk=iphoneos*] = 

COPY_PHASE_STRIP = YES
STRIP_STYLE = non-global

VERSIONING_SYSTEM = apple-generic
CURRENT_PROJECT_VERSION = $(RC_ProjectSourceVersion)
DEAD_CODE_STRIPPING = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = 
GCC_WARN_SHADOW = YES
INSTALL_MODE_FLAG = ugo-w,a+rX
OTHER_CFLAGS = -D__MigTypeCheck=1 -Dmig_external=__private_extern__ -D_DARWIN_USE_64_BIT_INODE=1
WARNING_CFLAGS = -Wall -Wextra -Waggregate-return
HEADER_SEARCH_PATHS = $(SDKROOT)/System/Library/Frameworks/System.framework/PrivateHeaders $(PROJECT_DIR)/src $(PROJECT_DIR)/liblaunch
USE_HEADERMAP = NO
