#include "common.xcconfig"

// Xcode-defined flags.
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
ONLY_ACTIVE_ARCH = NO
BUILD_VARIANTS = normal
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_TREAT_WARNINGS_AS_ERRORS = YES
DEPLOYMENT_LOCATION = YES
MACH_O_TYPE = mh_execute
INSTALL_PATH = /sbin
PRODUCT_NAME = launchd
ALWAYS_SEARCH_USER_PATHS = NO
GCC_ENABLE_BUILTIN_FUNCTIONS = YES
OTHER_CFLAGS = $(OTHER_CFLAGS) -DXPC_BUILDING_LAUNCHD=1
OTHER_MIGFLAGS = -DXPC_BUILDING_LAUNCHD=1 -I$(PROJECT_DIR)/src -I$(SDKROOT)/usr/local/include
OTHER_LDFLAGS =
