<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builtin</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SCNetworkReachability</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.SystemConfiguration.SCNetworkReachability</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.apple.SystemConfiguration.SCNetworkReachability</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.14.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.13</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.SystemConfiguration.SCNetworkReachability_sim</key>
		<true/>
	</dict>
</dict>
</plist>
