<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Default-Privacy-Setting</key>
		<string>Public</string>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>SCDynamicStore</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>SCNetworkConfiguration</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>SCNetworkConnection</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>SCNetworkReachability</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>SCPreferences</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>InterfaceNamer</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>IPMonitor</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>KernelEventMonitor</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>LinkConfiguration</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>PreferencesMonitor</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>QoSMarking</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>SimulatorSupport</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
	<key>SCMonitor</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Inherit</string>
			<key>Persist</key>
			<string>Inherit</string>
		</dict>
	</dict>
</dict>
</plist>
