<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Interface</key>
	<dict>
		<key>6to4-IPv4</key>
		<dict/>
		<key>Bluetooth</key>
		<dict>
			<key>ConnectionPersonality</key>
			<string>Default Personality</string>
			<key>ConnectionScript</key>
			<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
			<key>DataCompression</key>
			<integer>1</integer>
			<key>DeviceModel</key>
			<string>Dialup Device</string>
			<key>DeviceVendor</key>
			<string>Generic</string>
			<key>DialMode</key>
			<string>WaitForDialTone</string>
			<key>ErrorCorrection</key>
			<integer>1</integer>
			<key>PulseDial</key>
			<integer>0</integer>
			<key>Speaker</key>
			<integer>1</integer>
		</dict>
		<key>Bond</key>
		<dict/>
		<key>Bridge</key>
		<dict/>
		<key>Ethernet</key>
		<dict/>
		<key>FireWire</key>
		<dict/>
		<key>IEEE80211</key>
		<dict>
			<key>JoinMode</key>
			<string>Automatic</string>
		</dict>
		<key>IPSec-IPv4</key>
		<dict/>
		<key>IrDA</key>
		<dict/>
		<key>L2TP-IPv4</key>
		<dict/>
		<key>Loopback</key>
		<dict/>
		<key>Modem</key>
		<dict>
			<key>ConnectionPersonality</key>
			<string>Default Personality</string>
			<key>ConnectionScript</key>
			<string>/Library/Modem Scripts/Generic Dialup.ccl</string>
			<key>DataCompression</key>
			<integer>1</integer>
			<key>DeviceModel</key>
			<string>Dialup Device</string>
			<key>DeviceVendor</key>
			<string>Generic</string>
			<key>DialMode</key>
			<string>WaitForDialTone</string>
			<key>ErrorCorrection</key>
			<integer>1</integer>
			<key>HoldCallWaitingAudibleAlert</key>
			<integer>1</integer>
			<key>HoldDisconnectOnAnswer</key>
			<integer>0</integer>
			<key>HoldEnabled</key>
			<integer>0</integer>
			<key>HoldReminder</key>
			<integer>1</integer>
			<key>HoldReminderTime</key>
			<integer>10</integer>
			<key>PulseDial</key>
			<integer>0</integer>
			<key>Speaker</key>
			<integer>1</integer>
		</dict>
		<key>PPP-Bluetooth</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>0</integer>
			<key>CommDisplayTerminalWindow</key>
			<integer>0</integer>
			<key>CommRedialCount</key>
			<integer>1</integer>
			<key>CommRedialEnabled</key>
			<integer>1</integer>
			<key>CommRedialInterval</key>
			<integer>5</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>1</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>600</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>1</integer>
			<key>IPCPCompressionVJ</key>
			<integer>1</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>0</integer>
			<key>LCPEchoFailure</key>
			<integer>4</integer>
			<key>LCPEchoInterval</key>
			<integer>10</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPP-Ethernet</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>0</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>0</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>1800</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>1</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>1</integer>
			<key>LCPEchoFailure</key>
			<integer>4</integer>
			<key>LCPEchoInterval</key>
			<integer>10</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPP-IEEE80211</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>0</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>0</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>1800</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>1</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>1</integer>
			<key>LCPEchoFailure</key>
			<integer>4</integer>
			<key>LCPEchoInterval</key>
			<integer>10</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPP-IrDA</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>0</integer>
			<key>CommDisplayTerminalWindow</key>
			<integer>0</integer>
			<key>CommRedialCount</key>
			<integer>1</integer>
			<key>CommRedialEnabled</key>
			<integer>1</integer>
			<key>CommRedialInterval</key>
			<integer>5</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>1</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>600</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>1</integer>
			<key>IPCPCompressionVJ</key>
			<integer>1</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>1</integer>
			<key>LCPEchoFailure</key>
			<integer>4</integer>
			<key>LCPEchoInterval</key>
			<integer>10</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPP-L2TP</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>1</integer>
			<key>CommDisplayTerminalWindow</key>
			<integer>0</integer>
			<key>CommRedialCount</key>
			<integer>1</integer>
			<key>CommRedialEnabled</key>
			<integer>0</integer>
			<key>CommRedialInterval</key>
			<integer>5</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>0</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>600</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>0</integer>
			<key>IPCPCompressionVJ</key>
			<integer>0</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>1</integer>
			<key>LCPEchoFailure</key>
			<integer>15</integer>
			<key>LCPEchoInterval</key>
			<integer>20</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPP-Modem</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>0</integer>
			<key>CommDisplayTerminalWindow</key>
			<integer>0</integer>
			<key>CommRedialCount</key>
			<integer>1</integer>
			<key>CommRedialEnabled</key>
			<integer>1</integer>
			<key>CommRedialInterval</key>
			<integer>5</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>1</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>600</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>1</integer>
			<key>IPCPCompressionVJ</key>
			<integer>1</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>1</integer>
			<key>LCPEchoFailure</key>
			<integer>4</integer>
			<key>LCPEchoInterval</key>
			<integer>10</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPP-PPTP</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>1</integer>
			<key>CCPEnabled</key>
			<integer>1</integer>
			<key>CommDisplayTerminalWindow</key>
			<integer>0</integer>
			<key>CommRedialCount</key>
			<integer>1</integer>
			<key>CommRedialEnabled</key>
			<integer>0</integer>
			<key>CommRedialInterval</key>
			<integer>5</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>0</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>600</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>0</integer>
			<key>IPCPCompressionVJ</key>
			<integer>0</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>1</integer>
			<key>LCPEchoFailure</key>
			<integer>15</integer>
			<key>LCPEchoInterval</key>
			<integer>20</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPP-Serial</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>0</integer>
			<key>CommDisplayTerminalWindow</key>
			<integer>0</integer>
			<key>CommRedialCount</key>
			<integer>1</integer>
			<key>CommRedialEnabled</key>
			<integer>1</integer>
			<key>CommRedialInterval</key>
			<integer>5</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>1</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>600</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>1</integer>
			<key>IPCPCompressionVJ</key>
			<integer>1</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>1</integer>
			<key>LCPEchoFailure</key>
			<integer>4</integer>
			<key>LCPEchoInterval</key>
			<integer>10</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPP-WWAN</key>
		<dict>
			<key>ACSPEnabled</key>
			<integer>0</integer>
			<key>CommDisplayTerminalWindow</key>
			<integer>0</integer>
			<key>CommRedialCount</key>
			<integer>1</integer>
			<key>CommRedialEnabled</key>
			<integer>1</integer>
			<key>CommRedialInterval</key>
			<integer>5</integer>
			<key>CommUseTerminalScript</key>
			<integer>0</integer>
			<key>DialOnDemand</key>
			<integer>0</integer>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnIdle</key>
			<integer>1</integer>
			<key>DisconnectOnIdleTimer</key>
			<integer>600</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>1</integer>
			<key>IPCPCompressionVJ</key>
			<integer>1</integer>
			<key>IdleReminder</key>
			<integer>0</integer>
			<key>IdleReminderTimer</key>
			<integer>1800</integer>
			<key>LCPEchoEnabled</key>
			<integer>0</integer>
			<key>LCPEchoFailure</key>
			<integer>4</integer>
			<key>LCPEchoInterval</key>
			<integer>10</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>PPTP-IPv4</key>
		<dict/>
		<key>Serial</key>
		<dict/>
		<key>VLAN</key>
		<dict/>
		<key>VPN-*</key>
		<dict>
			<key>DisconnectOnFastUserSwitch</key>
			<integer>1</integer>
			<key>DisconnectOnLogout</key>
			<integer>1</integer>
			<key>DisconnectOnSleep</key>
			<integer>0</integer>
			<key>Logfile</key>
			<string>/var/log/ppp.log</string>
			<key>VerboseLogging</key>
			<integer>0</integer>
		</dict>
		<key>WWAN</key>
		<dict>
			<key>ConnectionScript</key>
			<string>/Library/Modem Scripts/WWAN.ccl</string>
			<key>DataCompression</key>
			<integer>1</integer>
			<key>DialMode</key>
			<string>WaitForDialTone</string>
			<key>ErrorCorrection</key>
			<integer>1</integer>
			<key>PulseDial</key>
			<integer>0</integer>
			<key>Speaker</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Protocol</key>
	<dict>
		<key>6to4-IPv4</key>
		<dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>6to4</string>
			</dict>
		</dict>
		<key>Bond</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Bridge</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Ethernet</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>FireWire</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>IEEE80211</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>IPSec-IPv4</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>L2TP-IPv4</key>
		<dict/>
		<key>Loopback</key>
		<dict/>
		<key>PPP-Bluetooth</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPP-Ethernet</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPP-IEEE80211</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPP-IrDA</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPP-L2TP</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPP-Modem</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPP-PPTP</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPP-Serial</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPP-WWAN</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>PPP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>PPTP-IPv4</key>
		<dict/>
		<key>VLAN</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>VPN-*</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>VPN</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
