<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>dyld</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>dlopen</string>
				<key>Type</key>
				<string>Interval</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
				<key>KTraceCodeBegin</key>
				<string>0x1f070005</string>
				<key>KTraceCodeEnd</key>
				<string>0x1f070006</string>
				<key>ArgValueTypesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>String</string>
				</dict>
				<key>ArgNamesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>Path</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>dlopen_preflight</string>
				<key>Type</key>
				<string>Interval</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
				<key>KTraceCodeBegin</key>
				<string>0x1f070009</string>
				<key>KTraceCodeEnd</key>
				<string>0x1f07000a</string>
				<key>ArgValueTypesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>String</string>
				</dict>
				<key>ArgNamesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>Path</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>map_file</string>
				<key>Type</key>
				<string>Interval</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
				<key>KTraceCodeBegin</key>
				<string>0x1f070005</string>
				<key>KTraceCodeEnd</key>
				<string>0x1f070006</string>
				<key>ArgValueTypesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>String</string>
				</dict>
				<key>ArgNamesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>Path</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>dlsym</string>
				<key>Type</key>
				<string>Interval</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
				<key>KTraceCodeBegin</key>
				<string>0x1f07000d</string>
				<key>KTraceCodeEnd</key>
				<string>0x1f07000e</string>
				<key>ArgValueTypesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>String</string>
				</dict>
				<key>ArgNamesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>Path</string>
				</dict>
			</dict>
			<dict>
				<key>Name</key>
				<string>Static Initializer</string>
				<key>Type</key>
				<string>Interval</string>
				<key>EventsMatchedBy</key>
				<string>Arg1</string>
				<key>KTraceCodeBegin</key>
				<string>0x1f070001</string>
				<key>KTraceCodeEnd</key>
				<string>0x1f070002</string>
				<key>ArgValueTypesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>Hex</string>
					<key>Arg3</key>
					<string>Hex</string>
				</dict>
				<key>ArgNamesBegin</key>
				<dict>
					<key>Arg2</key>
					<string>Mach Header</string>
					<key>Arg3</key>
					<string>Initializer Address</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
