[Desktop Entry]
Name=Darling .dmg
Comment=Mount .dmg into Darling
Exec=darling shell hdiutil attach %F
Icon=/usr/local/share/dmg.png
Terminal=false
Type=Application
NoDisplay=true
MimeType=application/x-bzip2
Categories=Core;
