<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>com.apple.npt.configd</string>
	<key>CommandList</key>
	<array>
		<string>/usr/local/bin/sctest</string>
		<string>unit_test</string>
		<string>-list_tests</string>
	</array>
</dict>
</plist>
