#include "libc.xcconfig"

BUILD_ARCHIVES = Base FreeBSD TRE vCancelable vDarwinExtsn
BUILD_VARIANTS = normal debug
EXECUTABLE_PREFIX = lib
INSTALL_PATH = /usr/local/lib/system
OTHER_LIBTOOLFLAGS = -filelist $(BUILT_PRODUCTS_DIR)/$(CURRENT_VARIANT).linklist.libtool
PRODUCT_NAME = c
SKIP_INSTALL = NO
STRIP_INSTALLED_PRODUCT = NO
VARIANT = STATIC_VERSION
VERSIONING_SYSTEM = apple-generic

// Only include what's needed
EXCLUDED_SOURCE_FILE_NAMES = *
INCLUDED_SOURCE_FILE_NAMES = secure/*.c $(ARCH_FAMILY_$(CURRENT_ARCH))/*/*.c $(ARCH_FAMILY_$(CURRENT_ARCH))/*/*.S $(ARCH_FAMILY_$(CURRENT_ARCH))/*/*.s

VARIANT_PREPROCESSOR_MACROS = -UBUILDING_VARIANT -DVARIANT_STATIC -DVARIANT_CANCELABLE -DVARIANT_DARWINEXTSN -U__DARWIN_NON_CANCELABLE -D__DARWIN_NON_CANCELABLE=0

SYSTEM_FRAMEWORK_HEADERS = $(DERIVED_FILES_DIR)/System.framework/Versions/B/PrivateHeaders
HEADER_SEARCH_PATHS = $(FreeBSD_SEARCH_PATHS) $(inherited)
