[submodule "external/libdispatch"]
	path = external/libdispatch
	url = https://github.com/LubosD/darling-libdispatch.git
[submodule "external/libobjc2"]
	path = external/libobjc2
	url = https://github.com/LubosD/darling-libobjc2.git
[submodule "external/libcxx"]
	path = external/libcxx
	url = https://github.com/LubosD/darling-libcxx.git
[submodule "external/libcxxabi"]
	path = external/libcxxabi
	url = https://github.com/LubosD/darling-libcxxabi.git
