[submodule "src/external/libdispatch"]
	path = src/external/libdispatch
	url = ../darling-libdispatch.git
[submodule "src/external/libobjc2"]
	path = src/external/libobjc2
	url = ../darling-libobjc2.git
[submodule "src/external/libcxx"]
	path = src/external/libcxx
	url = ../darling-libcxx.git
[submodule "src/external/libcxxabi"]
	path = src/external/libcxxabi
	url = ../darling-libcxxabi.git
[submodule "src/external/libkqueue"]
	path = src/external/libkqueue
	url = ../darling-libkqueue.git
[submodule "src/external/zlib"]
	path = src/external/zlib
	url = ../darling-zlib.git
[submodule "src/external/bzip2"]
	path = src/external/bzip2
	url = ../darling-bzip2.git
[submodule "src/external/libxml2"]
	path = src/external/libxml2
	url = ../darling-libxml2.git
[submodule "src/external/compiler-rt"]
	path = src/external/compiler-rt
	url = ../darling-compiler-rt.git
[submodule "src/external/foundation"]
	path = src/external/foundation
	url = ../darling-foundation.git
[submodule "src/external/corefoundation"]
	path = src/external/corefoundation
	url = ../darling-corefoundation.git
[submodule "src/external/icu"]
	path = src/external/icu
	url = ../darling-icu.git
	branch = darling
[submodule "src/external/libxslt"]
	path = src/external/libxslt
	url = ../darling-libxslt.git
[submodule "src/external/openssl"]
	path = src/external/openssl
	url = ../darling-openssl.git
