<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.apple.CoreServices.CarbonCore</string>
    <key>CFBundleName</key>
    <string>Carbon Core</string>
    <key>CFBundleExecutable</key>
    <string>CarbonCore</string>
    <key>CFBundlePackageType</key>
    <string>FMWK</string>
    <key>CFBundleVersion</key>
    <string>1333</string>
</dict>
</plist>
