<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OpenSourceProject</key>
	<string>libedit</string>
	<key>OpenSourceVersion</key>
	<string>3.0</string>
	<key>OpenSourceWebsiteURL</key>
	<string>http://www.thrysoee.dk/editline/</string>
	<key>OpenSourceURL</key>
	<string>http://www.thrysoee.dk/editline/libedit-20121213-3.0.tar.gz</string>
	<key>OpenSourceSHA1</key>
	<string>2f20bc835c1282b6815c4c8e2f852d6fe4318f7a</string>
	<key>OpenSourceImportDate</key>
	<string>2012-01-15</string>
	<key>OpenSourceLicense</key>
	<string>BSD</string>
	<key>OpenSourceLicenseFile</key>
	<string>libedit.txt</string>
	<key>OpenSourceModifications</key>
	<array>
		<string>Additional malloc fixes (7866382)</string>
		<string>filecomplete.c: Fix rl_line_buffer (9869665)</string>
		<string>filecomplete.c: Implement _el_fn_sh_complete (22276828)</string>
		<string>filecomplete.c: Adjust dequoting_func types because of 9869665</string>
		<string>filecomplete.c: Fix quoted_match leak</string>
	</array>
</dict>
</plist>
