#include "<DEVELOPER_DIR>/Makefiles/CoreOS/Xcode/BSD.xcconfig"

INSTALL_PATH = /usr/lib/system

PUBLIC_HEADERS_FOLDER_PATH = /usr/include
PRIVATE_HEADERS_FOLDER_PATH = /usr/local/include

BUILD_VARIANTS = normal debug
VERSION_INFO_PREFIX = __attribute__((visibility("hidden")))
IS_ZIPPERED = YES

PRODUCT_NAME = copyfile
