#include "<DEVELOPER_DIR>/Makefiles/CoreOS/Xcode/BSD.xcconfig"

DEAD_CODE_STRIPPING = NO

SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator
BUILD_VARIANTS = normal debug
SDKROOT = macosx.internal

GCC_PREPROCESSOR_DEFINITIONS = OS_UNFAIR_LOCK_INLINE=1 _FORTIFY_SOURCE=0 NDEBUG

// TODO: Add -fno-stack-protector when uplink to Libc is removed
OTHER_CFLAGS = -fdollars-in-identifiers -fno-common -momit-leaf-frame-pointer
OTHER_CFLAGS_debug = -fstack-protector -fno-inline -O0 -DDEBUG=1 -UNDEBUG

GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
CLANG_WARN_INT_CONVERSION = YES
//GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
//GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

//GCC_OPTIMIZATION_LEVEL = 0
LLVM_LTO = YES

SIM_SUFFIX[sdk=*simulator*] = _sim

LINK_WITH_STANDARD_LIBRARIES = NO
OTHER_LDFLAGS = -all_load -L/usr/lib/system -umbrella System $(CR_LDFLAGS) $(LIBCOMPILER_RT_LDFLAGS) $(LIBDYLD_LDFLAGS) $(LIBSYSCALL_LDFLAGS) $(LIBPLATFORM_LDFLAGS) $(UPLINK_LDFLAGS) $(INTERPOSE_LDFLAGS)

CR_LDFLAGS = -lCrashReporterClient
LIBCOMPILER_RT_LDFLAGS = -lcompiler_rt
LIBPLATFORM_LDFLAGS = -lsystem$(SIM_SUFFIX)_platform
LIBSYSCALL_LDFLAGS = -lsystem$(SIM_SUFFIX)_kernel
LIBDYLD_LDFLAGS = -ldyld

// TODO: Eliminate the crosslink between libmalloc and Libc (13046853)
UPLINK_LDFLAGS = -Wl,-upward-lsystem_c

INTERPOSE_LDFLAGS = -Wl,-interposable_list,$(SRCROOT)/xcodeconfig/interposable.list

ORDER_FILE = $(SDKROOT)/$(APPLE_INTERNAL_DIR)/OrderFiles/$(PRODUCT_NAME).order
ORDER_FILE[sdk=*simulator*] =

DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)

PRODUCT_NAME = libsystem_malloc
PUBLIC_HEADERS_FOLDER_PATH = /usr/include/malloc
PRIVATE_HEADERS_FOLDER_PATH = /usr/local/include

INSTALL_PATH = /usr/lib/system

SYSTEM_FRAMEWORK_HEADERS = $(SDKROOT)/System/Library/Frameworks/System.framework/PrivateHeaders
HEADER_SEARCH_PATHS = $(DERIVED_FILES_DIR)/dtrace $(SRCROOT)/include $(SYSTEM_FRAMEWORK_HEADERS) $(SDKROOT)/usr/local/include $(inherited)
