Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/libSystem.B.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/libobjc.A.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks/Foundation.framework/Versions/C/Foundation
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/System/Library/Frameworks/CoreFoundation.framework/Versions/A/CoreFoundation

Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libcommonCrypto.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libcompiler_rt.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libcopyfile.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libcorecrypto.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libdispatch.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libdyld.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libkeymgr.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libmacho.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libquarantine.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libremovefile.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_asl.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_blocks.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_c.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_coreservices.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_coretls.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_duct.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_info.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_kernel.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_malloc.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_m.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_notify.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_platform.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_pthread.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libsystem_sandbox.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libunwind.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/libxpc.dylib
Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/lib/system/liblaunch.dylib
