<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Logger</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.SystemConfiguration.Logger</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.apple.SystemConfiguration.Logger</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.14.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.14</string>
	<key>Enabled</key>
	<false/>
	<key>Verbose</key>
	<false/>
	<key>LOG_ALL</key>
	<false/>
	<key>LOG_IO_SYSTEMPOWER_EVENTS</key>
	<true/>
	<key>LOG_IO_WAKEUUID_EVENTS</key>
	<false/>
	<key>LOG_NETWORK_KERNEL_EVENTS</key>
	<true/>
	<key>LOG_NETWORK_INFORMATION</key>
	<true/>
	<key>LOG_NOTIFY_DNS_CONFIGURATION</key>
	<true/>
	<key>LOG_NOTIFY_NETWORK_CHANGE</key>
	<true/>
	<key>LOG_NOTIFY_SMB_CONFIGURATION</key>
	<true/>
	<key>LOG_NOTIFY_UTMPX_CHANGE</key>
	<false/>
	<key>LOG_SC_BTMM_CONFIGURATION</key>
	<true/>
	<key>LOG_SC_CONSOLEUSER</key>
	<true/>
	<key>LOG_SC_DIRECTORYSERVICES_SEARCHPOLICY</key>
	<true/>
	<key>LOG_SC_NETWORKCHANGE</key>
	<false/>
	<key>LOG_SC_PRIMARYSERVICE</key>
	<true/>
	<key>LOG_SC_REACHABILITY</key>
	<false/>
	<key>LOG_SC_REACHABILITY_HOSTS</key>
	<array>
		<string>mail.me.com</string>
	</array>
	<key>Requires</key>
	<array>
		<string>com.apple.SystemConfiguration.SCNetworkReachability</string>
	</array>
</dict>
</plist>
