#include "<DEVELOPER_DIR>/Makefiles/CoreOS/Xcode/BSD.xcconfig"
#include "<DEVELOPER_DIR>/AppleInternal/XcodeConfig/SimulatorSupport.xcconfig"

ARCHS = $(ARCHS_STANDARD_32_64_BIT)
ONLY_ACTIVE_ARCH = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
CODE_SIGN_IDENTITY = -
INSTALL_PATH_ACTUAL = /usr/lib
INSTALL_PATH[sdk=macosx*] = $(INSTALL_PATH_ACTUAL)
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = non-global
DYLIB_COMPATIBILITY_VERSION = 2
DYLIB_CURRENT_VERSION = 3.0
DEAD_CODE_STRIPPING = YES
EXECUTABLE_PREFIX = lib
PRODUCT_NAME = edit.3
ALWAYS_SEARCH_USER_PATHS = NO
USER_HEADER_SEARCH_PATHS = src
CURRENT_PROJECT_VERSION = $(RC_ProjectSourceVersion)
VERSION_INFO_PREFIX = __
VERSIONING_SYSTEM = apple-generic
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ENABLE_BUILTIN_FUNCTIONS = YES
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
PREBINDING = NO
ZERO_LINK = NO
