<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceLicense</key>
		<string>BSD</string>
		<key>OpenSourceLicenseFile</key>
		<string>xar.txt</string>
		<key>OpenSourceMD5</key>
		<string>7f3976664a426911eab93cdf367894bc</string>
		<key>OpenSourceModifications</key>
		<array>
			<string>3397142</string>
		</array>
		<key>OpenSourceProject</key>
		<string>xar</string>
		<key>OpenSourceURL</key>
		<string>http://www.opendarwin.org/projects/xar/xar-1.4.tar.gz</string>
		<key>OpenSourceVersion</key>
		<string>1.4</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.opendarwin.org/projects/xar/</string>
	</dict>
</array>
</plist>
