Source: darling
Maintainer: Lubos Dolezel <lubos@dolezel.info>
Section: misc
Priority: optional
Standards-Version: 4.4.0
Build-Depends: cmake, clang | clang-9, bison, flex, libfuse-dev, libudev-dev, pkg-config, libc6-dev-i386, linux-headers-amd64|linux-headers-generic, gcc-multilib, libcairo2-dev, libgl1-mesa-dev, libtiff5-dev, libfreetype6-dev, libelf-dev, libxml2-dev, libegl1-mesa-dev, libglu1-mesa-dev, libfontconfig1-dev, libbsd-dev, debhelper, ninja-build, libxrandr-dev, libxcursor-dev, libgif-dev, libavcodec-dev, libavformat-dev, libswresample-dev, libavutil-dev, libpulse-dev, libavformat-dev, libavcodec-dev, libdbus-1-dev, libxkbfile-dev, libcap-dev, llvm-dev, libvulkan-dev, libcap2-bin

Package: darling
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, darling-cli, darling-python2, darling-ruby, darling-perl, darling-gui, darling-gui-stubs, darling-pyobjc
Description: Darling
 Translation layer for running macOS software on Linux

Package: darling-extra
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, darling, darling-jsc, darling-cli-extra
Description: Extra components for Darling
 Extra components for Darling that are not part of a typical ("stock") installation

Package: darling-core
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, xdg-user-dirs
Description: Darling core components
 Core components of Darling

Package: darling-system
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-core
Description: Darling system components
 System components of Darling

Package: darling-cli
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-system, darling-cli-gui-common, darling-cli-python2-common
Description: Darling CLI components
 CLI components of Darling

Package: darling-ffi
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-core
Description: libffi for Darling
 libffi built for use within Darling

Package: darling-cli-devenv
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-cli, darling-python2, darling-ruby, darling-perl, darling-cli-devenv-gui-common, darling-cli-devenv-gui-stubs-common, darling-iosurface
Description: Darling developer environment
 A Darling environment for CLI-only programs for building and developing using the command line developer tools
Conflicts: darling-gui, darling-gui-stubs

Package: darling-cli-gui-common
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-system
Description: Darling CLI and GUI common components
 Components of Darling that are shared between the CLI and GUI components

Package: darling-iokitd
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-system, darling-iosurface
Description: Darling IOKit daemon
 IOKit daemon for Darling

Package: darling-cli-devenv-gui-common
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-system
Description: Darling developer environment and GUI common components
 Components of Darling that are shared between the developer environment and the GUI components

Package: darling-cli-extra
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-cli
Description: Extra Darling CLI components
 Non-standard CLI components of Darling

Package: darling-gui
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-system, darling-cli-devenv-gui-common, darling-iokitd, darling-cli-gui-common, darling-iosurface
Description: Darling GUI components
 GUI components of Darling

Package: darling-python2
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-core, darling-cli-python2-common, darling-ffi
Description: Python 2 for Darling
 Python 2 (and associated programs) built for use within Darling

Package: darling-cli-python2-common
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-core
Description: Darling CLI and Python 2 common components
 Components of Darling that are shared between the CLI and Python 2 components

Package: darling-pyobjc
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-gui-stubs, darling-python2
Description: PyObjC for Darling
 PyObjC built for use within Darling

Package: darling-ruby
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-core, darling-ffi
Description: Ruby for Darling
 Ruby built for use within Darling

Package: darling-perl
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-core
Description: Perl for Darling
 Perl built for use within Darling

Package: darling-jsc-webkit-common
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-system
Description: Darling JavaScriptCore and WebKit common components
 Components of Darling that are shared between JavaScriptCore and WebKit

Package: darling-jsc
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-system, darling-jsc-webkit-common
Description: JavaScriptCore for Darling
 JavaScriptCore built for use within Darling

Package: darling-iosurface
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-system
Description: IOSurface framework for Darling
 IOSurface framework built for use within Darling

Package: darling-cli-devenv-gui-stubs-common
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-cli-devenv-gui-common
Description: Darling developer environment and GUI stubs common components
 Components of Darling that are shared between the developer environment and GUI stub components

Package: darling-gui-stubs
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${macho:Depends}, darling-gui, darling-cli-devenv-gui-stubs-common
Description: Darling GUI stub components
 GUI stub components of Darling
