#!/usr/bin/make -f
%:
	dh $@ --builddirectory=debbuild --parallel

override_dh_auto_configure:
	mkdir debbuild
	cd debbuild && CFLAGS="" CXXFLAGS="" CPPFLAGS="" LDFLAGS="" cmake .. -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	cd debbuild && $(MAKE) -j$(shell nproc) && $(MAKE) -j$(shell nproc) lkm_generate

override_dh_fixperms:
	dh_fixperms -Xusr/bin/darling

override_dh_makeshlibs:
	dh_makeshlibs
	# TODO: append ELF files referenced from Mach-Os into debian/darling.shlibs

override_dh_clean:
	dh_clean -d
	rm -rf debbuild

override_dh_update_autotools_config:
