#include "base.xcconfig"
EXECUTABLE_PREFIX = lib
INSTALLHDRS_SCRIPT_PHASE = YES
PUBLIC_HEADERS_FOLDER_PATH = /usr/include

INSTALL_PATH = /usr/lib

LIB_GCC_PREPROCESSOR_DEFINITIONS = $(BASE_GCC_PREPROCESSOR_DEFINITIONS) BUILDING_DLL ENABLE_RELOCATABLE IN_LIBRARY NO_XMALLOC PIC
GCC_PREPROCESSOR_DEFINITIONS = $(LIB_GCC_PREPROCESSOR_DEFINITIONS)

GCC_SYMBOLS_PRIVATE_EXTERN = YES

IS_ZIPPERED = YES

SUPPORTS_TEXT_BASED_API = YES
TAPI_VERIFY_MODE = Pedantic
