<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.notifyd</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ASL_DISABLE</key>
		<string>1</string>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.system.notification_center</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/notifyd</string>
	</array>
	<key>JetsamProperties</key>
	<dict>
		<key>JetsamPriority</key>
		<integer>-1000</integer>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
</dict>
</plist>
