<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProductBuildVersion</key>
	<string>Darling</string>
	<key>ProductCopyright</key>
	<string>2012-2023 Lubos Dolezel</string>
	<key>ProductName</key>
	<string>macOS</string>
	<key>ProductUserVisibleVersion</key>
	<string>11.7.4</string>
	<key>ProductVersion</key>
	<string>11.7.4</string>
	<key>iOSSupportVersion</key>
	<string>14.7</string>
</dict>
</plist>
